/* OGOLNE */


.sto_procent    {width:100%;
                 height:100%;
                }
.srodek         {vertical-align:middle;
                 margin:auto;
                }


/* KOLORKI */


.kolorek        {color:#1290cb;}
.kolorek_tlo    {background-color:#1290cb;}


/* STYLE TEKSTU */


.tekscik        {font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
                 font-size: 11px;
                }


/* STYLE ELEMENTOW */


.header         {height:100px;
                 width:100%;
                 position:absolute; 
                 top:0; 
                 left:0;
                }
.tabela         {border:1px solid black;}
.logo           {border-radius:25px;
                 height:70px;
                 width:250px;
                }


